<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="/js/jquery.toast.js"></script>
    <link rel="stylesheet" href="/css/jquery.toast.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div class="container">
    <div class="form-content">

        <div class="img-content">
            <figure><img src="/img/user.png" alt="" class="img-fluid"></figure>
        </div>
        <form method="post" onsubmit="logar()">
            <div class="form-group">

                <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                <label for="usuario">Usuário:</label>
                <input type="text" name="usuario" id="usuario" class="form-control"
                       placeholder="Digite seu nome de usuário" required autofocus>
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha" class="form-control" placeholder="Digite sua senha"
                       required>
                <div class="checkbox mb-3">

                </div>
                <button class="button-cadastrar" type="submit">Entrar</button>
                <p> Não tem cadastro? <a class="voltar float-right"
                                         href="<?php echo $this->url(array('controller' => 'usuarios', 'action' => 'cadastrar')); ?>">Cadastre-se
                        agora</a></p>
                <p class="mt-5 mb-3 text-muted">&copy;Locadora Unity 2020</p>
            </div>
        </form>
        <?php include 'js/ajax_login.php'; ?>
</body>
</html>
