<?php
$myNamespace = new Zend_Session_Namespace ( 'usuario' ) ;
?>
<!doctype html>
<html>
<head>
    <title>Locadora Unity</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <form class="form-content">
        <div>
            <h1>Bem vindo a Locadora Unity</h1><br>
        </div>
        <div>
            <a class="voltar" href="<?php echo $this->url(array('controller'=>'Carro','action'=>'cadastro'));?>">Cadastrar Carro</a>
            <a class="voltar" href="<?php echo $this->url(array('controller'=>'Carro','action'=>'buscar'));?>">Carros Disponíveis</a>
        </div>
</div>
</form>
</body>
</html>