<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="/js/jquery.toast.js"></script>
    <link rel="stylesheet" href="/css/jquery.toast.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cadastro de Usuários</title>
</head>
<body>
<div class="container">
    <div>
        <h1>Cadastro de Usuários</h1>
    </div>
    <div class="form-content">

        <div class="img-content">
            <figure><img src="/img/user.png" alt="" class="img-fluid"></figure>
        </div>
        <form method="post" onsubmit="cadastrar_usuario()">
            <div class="form-group">
                <label for="Nome">Nome:</label>
                <input required type="text" name="nome" id="nome" placeholder="Digite o seu nome" class="form-control"
                       autofocus="">
            </div>
            <div class="form-group">
                <label for="usuario">Usuário:</label>
                <input required type="text" name="usuario" id="usuario" placeholder="Digite o seu nome de usuário"
                       class="form-control"
                       autofocus="">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input required type="email" name="email" id="email" placeholder="Digite o seu email"
                       class="form-control">
            </div>
            <div class="form-group">
                <label for="senha">Senha:</label>
                <input required type="password" name="senha" id="senha" placeholder="Digite a sua senha"
                       class="form-control">
            </div>
            <div class="form-group">
                <label for="confirma_Senha">Confirma Senha:</label>
                <input required type="password" name="confirma_Senha" id="confirma_Senha"
                       placeholder="Redigite sua senha"
                       class="form-control">
            </div>
            <input type="submit" value="Cadastrar" class="button-cadastrar">
            <a class="voltar float-right" href="<?= $this->url(array('controller' => 'Auth', 'action' => 'login')); ?>">Cancelar</a>
        </form>

        <?php include 'js/ajax_cadastrar_usuario.php'; ?>
</body>
</html>
